{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <img src="{% static "img/To-Do-Logo 1.svg"%}" alt="">
    </header>
    <main>
        <form class="add-to-wraper" method="POST" action="#">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" placeholder="What do you need to do?" name="task">
            </div>
            <div class="Add-button">
                <button type="submit">ADD</button>
            </div>
        </form>
        <div class="TODO-list">
            {% for task in tasks %}
                <div class="task">
                    <div>
                        {% if task.is_completed %}
                            <img src="{% static 'img/task-on.svg'%}" alt="" height="30px" width="30px">
                        {% else %}
                            <img src="{% static 'img/task-off.svg'%}" alt="" height="30px" width="30px">
                        {% endif %}
                    </div>
                    <div class="task-text 
                    {% if task.is_completed %}
                        completed-text
                    {% endif %}">
                        <p>{{ task.text }}</p>
                    </div>
                    <div>
                        <img src="{% static 'img/Delete outline.svg'%}" alt="">
                    </div>
                </div>
            {% endfor %}
            <div class="button-field">
                <div class="clear-image">
                    <img src="{% static 'img/Basket.svg'%}" alt="" height="20px" width="20px">
                </div>
                <div class="clear-text">
                    <p>Clear Completed</p>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>