{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <title>TODO list</title>
</head>
<body>
    <header>
        <img src="{% static "img/To-Do-Logo 1.svg"%}" alt="">
    </header>
    <div class="add-to-wraper">
        <div class="input-field">
            <input type="text" placeholder="What do you need to do?">
        </div>
        <div class="Add-button">
            <p>ADD</p>
        </div>
    </div>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>