@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600&display=swap');
*{
    margin: 0px;
    font-family: 'Unbounded', cursive;
}
header{
    height: 80px;
    background-color: #F1ECE6;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    width: 200px;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-to-wraper{
    width: 45vw;
    height: 40px;
    display: flex;

}
.input-field{
    width: 85%;
    height: 40px;
    background-color: #F1ECE6;
    border-radius: 20px 0px 0px 20px;
}
.input-field input{
    height: 100%;
    width: 90%;
    font-size: 18px;
    padding-left: 15px;
}
.Add-button{
    width: 15%;
    background-color: #76B7CD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0px 20px 20px 0px;
}
.TODO-list{
    width: 45vw;
    height: 50vh;
    background-color: #F1ECE6;
    border-radius: 25px;
    margin-top: 40px;
    padding: 5px 10px 0px 10px;
    position: relative;
}
.task{
    display: flex;
    margin-top: 10px;
}
.task-text{
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-bottom: 1px solid rgb(134, 134, 134);
}
.button-field{
    position: absolute;
    bottom: 10px;
    right: 30px;
    color: #D98326;
    display: flex;
}
.clear-image{  
    margin-right: 5px;
}
.clear-text{
    display: flex;
    align-items: center;
}
.completed-text{
    text-decoration: line-through;
    color: #C2C2C2;
}
